<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> Page</h1>
        <% if (title == "Contact") { %>
          <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
        <% } %>
      </div>
    </div>

    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <h6>&copy; Copyright - @Bhavna Pulliahgari - 2019</h6>
      </nav>
    </footer>
    
  <% include ./partials/footer.ejs %>